@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Plus Jakarta Sans', sans-serif;
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity));
  }
}

/* @layer components {
  .animate-font {
    @apply relative before:absolute before:h-1 before:w-0 before:bottom-0 before:left-0 before:bg-gray-400 before:block before:content[''] before:transition-all before:duration-150 before:ease-in-out hover:before:w-full pb-1;
  }
} */
